/* Full viewport height */
.dashboard {
    height: 100vh;
}

.navbar {
    align-items: baseline;
    background-color: skyblue;
}

.menu {
    width: 0;
    transition: width 0.3s ease;
    height: 100%; /* Full height */
    overflow: hidden;
    background-color: skyblue;
}

.menu-button {
    cursor: pointer;
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    width: 100%;
    text-align: left;
}

.menu-button:focus {
    outline: none;
    background-color: #e0e0e0;
}

.menu-button:hover {
    /* Style for hover state */
    background-color: #e0e0e0;
}

.menu.open {
    width: 25%;
}

.content {
    flex-grow: 1;
    transition: flex-grow 0.3s ease;
}

.content.full {
    flex-grow: 0;
}