.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

aside {
    height: 100vh;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .toggle .logo {
    display: flex;
    gap: 0.5rem;
}

aside .toggle .logo img {
    width: 2rem;
    height: 2rem;
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

.main-menu{
    /* margin-left: 2rem; */
    transition: all 0.3s ease;
}

.main-menu.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

.main-menu.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

.menu-button {
    font-size: 1.6rem;
    transition: all 0.3s ease;
    background-color: darkcyan;
    width: 100%;
}

.sidebar .main-menu:first-child .menu-button {
    border-radius: 15px 15px 0 0;
}

.sub-menu {
    transition: all 0.3s ease;
}

.sub-button {
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: cadetblue;
    width: 100%;
}

/* .main-menu:last-child{
    position: absolute;
    bottom: 2rem;
    width: 100%;
} */

.main-menu.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

.main-menu.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

.main-menu:hover {
    color: var(--color-primary);
}

.main-menu.active .menu-button{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.main-menu:hover .menu-button{
    margin-left: 0.6rem;
}
/*
.content {
    flex-grow: 1;
    transition: flex-grow 0.3s ease;
}

.content.full {
    flex-grow: 0;
} */